<%- include('../partials/header.ejs') %>
<h1><%=horse.name%></h1>
<p>Owner: <%=horse.client%></p>
<p>Status: <%=horse.status%></p>
<p>Registration Number: <%=horse.registration%></p>
<p>Id: <%=horse.id%></p>

<form method="GET" action="/horses/edit/<%=horse.id%>">
    <button type="submit">Edit</button>
</form>


<form method="POST" action="/horses/<%=horse.id%>?_method=DELETE">
    <button type="submit">Delete</button>
</form>

<select size="4" onclick= "window.location.href = this.value" style="width: 33%">
    <option class="add-new" value="/horses/<%= horse.id %>/task">-Add New-</option>
    <%horseTask.forEach(task => { %>
        <option value="/tasks/<%=task.id%>"><%=task.dataValues.task%></option>
    <%})%>

     </select>


<%- include('../partials/footer.ejs') %>