<%- include('../partials/header.ejs') %>

<%console.log(tasks)%>

<div class="container">

    <div class="today-task">
        <label>Today's Tasks</label>
        <select class="today-task-list" size="19" onclick= "window.location.href = this.value">
            <%tasks.forEach(task => {%>
                <% if(literalDate === task.dataValues.day.toLocaleString().split(',')[0]){%>
                    <option value="/tasks/<%=task.id%>"><%=task.task%></option>
                <%}%>
            <%})%>
        </select>
    </div>



    <div class="center-boxes">
        <div class="horse-list">
            <form method="GET" action="/horses">

                <label>Horses</label>
            <select class="horse-list-main" size="8" onclick= "window.location.href = this.value">
                <option class="add-new" value="/horses">-Add New-</option>
                <%horses.forEach(horse => { %>
                    <option value="/horses/<%=horse.id%>"><%=horse.name%></option>
                    <%})%>
                </select>
            </form>
        </div>
        
        <br>

        <script>
            function adjustSelectSize() {
                const task = document.querySelectorAll('.today-task-list')
                const taskSize = window.innerWidth >= 1041 ? 45 : 19
                const horse = document.querySelectorAll('.horse-list-main')
                const horseSize = window.innerWidth >= 1041 ? 40 : 8
                task.forEach((select) => {
                select.size = taskSize;
                })
                horse.forEach((select) => {
                    select.size = horseSize
                })
            }

            window.addEventListener('DOMContentLoaded', adjustSelectSize);
            window.addEventListener('resize', adjustSelectSize);
        </script>

        <div class="upcoming-task-list">
            <label>Upcoming Tasks</label>
            <select class="select-shadow" size="8" onclick= "window.location.href = this.value">
                <option class="add-new" value="/tasks/new">-Add New-</option>
                <%tasks.forEach(task => { %>
                    <option value="/tasks/<%=task.id%>"><%=task.task%></option>
                    <%})%>
                    
                </select>        
        </div>
    </div>



    <div class="date-time">
        <div class="date-box">
            <p><%=displayDate()%></p>
            <p id="time"></p>
        </div>

        <div class="sun-clock">
        <p>
            <span class="sunrise">
                Sunrise: <span class="time-color"><%=sunTimer.forecast.forecastday[0].astro.sunrise%></span>
            </span>
        </p>

        <p>
            <span class="sunset">Sunset: 
                <span class="time-color"><%=sunTimer.forecast.forecastday[0].astro.sunset%>
                </span>
            </span>
        </p>
        
        <p class="time-color">Current UV index: <%=sunTimer.current.uv%></p>
    </div>
    <div class="upcoming-task-list-large">
        <label>Upcoming Tasks</label>
        <select class="select-shadow" size="8" onclick= "window.location.href = this.value">
            <option class="add-new" value="/tasks/new">-Add New-</option>
            <%tasks.forEach(task => { %>
                <option value="/tasks/<%=task.id%>"><%=task.task%></option>
                <%})%>
                
            </select>        
    </div>
    </div>
    


</div>



<%- include('../partials/footer.ejs') %>

